
<form action="/" method="post">
	
	What City? <input type="text" name="message" placeholder="Put your city name here!" size="40">
	<br></br><input type="submit" value="Get me the time!">
</form>



<h5> Powered by Google <h5>